extends ../layout.pug
block layout-content
	.container
		.centered-layout
			form(action=`/verifier/public/definitions/presentation-request/${presentationDefinitionId}` method='post')
				.CenteredLayout
					h2 Select the fields you wish to present
					.left-layout
						.checkbox
							input(type='checkbox' id="given_name" name='fields' value='given_name')
							label(for='given_name') Given Name
						.checkbox
							input(type='checkbox' id="family_name" name='fields' value='family_name')
							label(for='family_name') Family Name
						.checkbox
							input(type='checkbox' id="age_equal_or_over.18" name='fields' value='age_equal_or_over.18')
							label(for='age_equal_or_over.18') Age Over 18
						.checkbox
							input(type='checkbox' id="birthdate" name='fields' value='birthdate')
							label(for='birthdate') BirthDate
						.checkbox
							input(type='checkbox' id="issuing_authority" name='fields' value='issuing_authority')
							label(for='issuing_authority') Issuing Authority
					button.btn.btn-primary(type='submit') Present
	link(rel="stylesheet" href="/styles/scan-qr-verifier.css")